html {
  box-sizing: border-box;
  color: #000;
  font-family: Merriweather, serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block;
  font-family: Merriweather, serif;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.8em;
  font-weight: lighter;
  font-style: italic;
  margin: 0;
  padding: .85em .5em;
}

.banner {
  display: grid;
  grid-template-areas:
    "img"
    "h2"
    "p";
  grid-template-columns: auto;
  margin: 0;
  padding: 0;
}

.banner img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  max-width: 100%;
}

.banner h2 {
  grid-area: 3 / 1 / span 1 / span 3;
  grid-column: 1 / -1;
  grid-row: 2;
  z-index: 1;
  color: #fff;
  font-size: 1.5rem;
  font-weight: lighter;
  font-style: italic;
  margin: 0;
  padding: 0 .75em;
}

header p {
  grid-column: 1/span 3;
  grid-row: 3;
  z-index: 1;
  color: #fff;
  font-weight: lighter;
  box-sizing: content-box;
  margin: 0;
  padding: 0 1em 1.5em;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .75rem;
  margin: 0;
  padding: .75em 0;
  width: auto;
  align-self: stretch;
}

.one .two .three {
  grid-column: 3;
}

figcaption {
  font-weight: lighter;
  font-style: italic;
  margin: 0;
  padding: 1em 1.5rem 0;
}

h2 {
  margin: 0;
}

figure {
  margin: 0;
}

figure img {
  max-width: 100%;
}

dl {
  margin: 0;
  padding: 0 1rem 0 1.5rem;
}

dt {
  font-weight: lighter;
  font-style: italic;
}

dd {
  margin: 0;
  padding: 0 0 0 .5rem;
}
